:root {
  --primary: #F3EED9;
  --secondary: #824936;
  --tertiary: #222C2A;  
}

* *::before *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.landing-header {
  background-color: var(--primary);
  min-height: 660px;
  text-align: center;
}

.center-align {
  display: flex;
  align-items: center;
}

.col-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 2em;
}

.row > * {
  flex: 1;
}

.padding-tb {
  padding: 4rem 0;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
  border: 2px solid red;
}

.main__designs {
}

.main__customize {
  background-color: var(--tertiary);
  color: white;
}

.main__care {
  background-color: var(--secondary);
  color: white;
}
