* *::before *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: sans-serif;
}

.landing-header {
  background-color: #F3EED9;
  min-height: 660px;
  text-align: center;
}

.center-align {
  display: flex;
  align-items: center;
}

.col-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 2em;
}

.row > * {
  flex: 1;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
  border: 2px solid red;
}

.main__designs {
}
